body {
  margin: 0;
}

@font-face {
  font-family: "/fonts/Riemann";
  /* If you want to debug the code with Firefox, pass a base64-encoded string instead, because Firefox has issues fetching local resources */
  src: url("/Riemann.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-feature-settings: "liga";
}

.abcjs-annotation {
  font-family: "Riemann";
  font-weight: normal;
  font-style: normal;
  font-feature-settings: "liga";
}

.abcjs-note:hover {
  cursor: pointer;
}

.abcjs-annotation:hover {
  cursor: default;
}

.abcjs-given {
  fill: gray;
}

.abcjs-given:hover {
  cursor: default;
}

.abcjs-rest {
  fill: gray;
}
